.imagecontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

* {
  font-family: 'Roboto';
}

.Contaienr {
  padding: 20px;
}

.img1 {
  height: 70vh;
  width: 100%;
}
